@font-face {
    font-family: Calibri;
    src: url("../fonts/Calibri.ttf");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/BEBAS.ttf");
}

@font-face {
    font-family: "St Marie - Thin";
    src: url("../fonts/StMariePro-Thin.ttf");
}